.canchaTenis {
    position: relative;
    width: 1200px;
    height: 600px;
    border: 5px solid #fff;
    background: #0B610B;
}

.primera {
    position: absolute;
    width: 600px;
    height: 580px;
    border: 5px solid #fff;
    border-left: none;
    border-top: none;
    border-bottom: none;
}

.segunda {
    position: absolute;
    width: 1180px;
    height: 580px;
    border: 5px solid #fff;
    background: none;
    margin-left: 5px;
    margin-top: 5px;
    display: inline-block;
    float: left;
}

.tercera {
    position: absolute;
    width: 1180px;
    height: 400px;
    border: 5px solid #fff;
    background: none;
    margin-top: 90px;
    display: inline-block;
    float: left;
    border-left: none;
    border-right: none;
}

.cuartos {
  position: absolute;
  width: 700px;
  height: 400px;
  border: 5px solid #fff;
  background:none;
  margin-left: 250px;
  margin-top: 90px;
  display: inline-block;
}
.quinta {
  position: absolute;
  width: 700px;
  height: 0px;
  border: 5px solid #fff;
  background:none;
  margin-left: 250px;
  margin-top: 300px;
  display: inline-block;
  border-bottom: none;
}
